
<div class="container h-100 masthead" style="margin-top: 50px">

  <div class="row h-100 align-items-center">

    <div class="col-12 text-center">
      <h1 class="fw-light"><a>LIST OF EMPLOYEE </a></h1>
    </div>
  </div>
</div>
<div class="container-fluid d-flex ">
  <a class="btn btn-success" >ADD EMPLOYEE</a>

  <form  method="get" class="form-inline ml-auto">
    <div class="md-form my-0">
      <input class="form-control" type="text" placeholder="Search Name..." aria-label="Search" name="customer">
    </div>
    <button class="btn btn-outline-white btn-md my-0 ml-sm-2 btn btn-primary" type="submit">Search</button>
    <input class="btn btn-outline-white btn-md my-0 ml-sm-2 btn btn-primary" type="button" value="Clear"/>
  </form>
</div>

<p></p>
<table class="table table-hover ">
  <thead class="list-group-item-success">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">CODE</th>
    <th scope="col">NAME</th>
    <th scope="col">BIRTHDAY</th>
    <th scope="col">ID_CARD</th>
    <th scope="col">SALARY</th>
    <th scope="col">PHONE</th>
    <th scope="col">EMAIL</th>
    <th scope="col">ADDRESS</th>
    <th scope="col"></th>
    <th scope="col">ACTION</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row"></td>
    <td></td>
    <td></td>
  </tr>
  <tr *ngFor="let employee of employees">
    <td scope="row">{{employee.id}}</td>
    <td scope="row">{{employee.code}}</td>
    <td scope="row">{{employee.name|titlecase}}</td>
    <td scope="row">{{employee.birthday|date}}</td>
    <td scope="row">{{employee.IdCard}}</td>
    <td scope="row">{{employee.salary |number}}vnd</td>
    <td scope="row">{{employee.phone}}</td>
    <td scope="row">{{employee.email}}</td>
    <td scope="row">{{employee.address | titlecase}}</td>
    <td>
      <button class="btn btn-primary" type="button">Detail</button>
    </td>
    <td>
      <button class="btn btn-warning">UPDATE</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" data-toggle="modal"
              data-target="#myModal" data-bs-target="#exampleModal">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
