


<!--<div class="container-fluid">-->
<!--  <h1 class="list-group-item-warning text-center">CREATE CUSTOMER</h1>-->
<!--  <div class="container h-100">-->
<!--    <div class="row h-100 align-items-center">-->
<!--    </div>-->
<!--  </div>-->

<!--<div class="row list-group-item-info">-->
<!--  <div class="col-12">-->
<!--      <div class="form-group">-->
<!--        <label for="code">ID  :</label>-->
<!--        <input type="number" placeholder="enter id" class="form-control" id="code" >-->
<!--&lt;!&ndash;        <p class="list-group-item-danger" ></p>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="name">NAME  :</label>-->
<!--        <input type="text" placeholder="enter name" class="form-control" id="name" >-->
<!--&lt;!&ndash;        <p class="list-group-item-danger"  ></p>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="birthday">BIRTHDAY :</label>-->
<!--        <input type="date" placeholder="enter birthday" class="form-control" id="birthday">-->
<!--&lt;!&ndash;        <p class="list-group-item-danger" ></p>&ndash;&gt;-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="idCard">IDCARD :</label>-->
<!--        <input type="number" placeholder="enter card" class="form-control" id="idCard">-->
<!--&lt;!&ndash;        <p class="list-group-item-danger" ></p>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label >GENDER :</label>-->
<!--        <radio>-->
<!--&lt;!&ndash;          <input type="radio"  value="true"/> Nam 🙎‍♂️&ndash;&gt;-->
<!--&lt;!&ndash;          <label text="${Male}"></label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="radio" field="*{gender}" value="false"/> Nữ 🙎🏻‍♀&ndash;&gt;-->
<!--&lt;!&ndash;          <label text="${Female}"></label>️&ndash;&gt;-->
<!--        </radio>-->
<!--&lt;!&ndash;        <p class="list-group-item-danger"></p>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="phone">PHONE :</label>-->
<!--        <input type="number" placeholder="enter phone" class="form-control" id="phone" >-->
<!--&lt;!&ndash;        <p class="list-group-item-danger" ></p>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="email">EMAIL :</label>-->
<!--        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>-->
<!--        <input type="email" placeholder="enter email" class="form-control" id="email" >-->
<!--&lt;!&ndash;        <p class="list-group-item-danger" ></p>&ndash;&gt;-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="address">ADDRESS :</label>-->
<!--        <input type="text" placeholder="enter address" class="form-control" id="address" >-->
<!--&lt;!&ndash;        <p class="list-group-item-danger" ></p>&ndash;&gt;-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="employeeDivision">CUSTOMER TYPE:</label>-->
<!--        <select class="form-control" id="employeeDivision" >-->
<!--          <option value="">Chọn...</option>-->
<!--          <option></option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <a class="btn btn-danger">BACK TO CUSTOMER</a>-->
<!--        <input type="submit" class="btn btn-primary" value="Save">-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

